<table class="posttable table table-hover table-condensed" width="100%">
  <thead>
    <tr>
      <th width="auto">标题</th>
      <th width="20%">作者</th>
      <th width="20%">发表时间</th>
    </tr>
  </thead>
  <tbody>
    {% for p in postlist %}
    <tr{% if p.get('read', False) %} class="read"{% end %}>
      <td>
        <a href="/post/{{ p['pid'] }}">{{ p['title'] }}</a>
        {% if p['mark_g'] %}<i class="gmark"></i>{% end %}
        {% if p['mark_m'] %}<i class="mmark"></i>{% end %}
      </td>
      <td><a href="/user/{{ p['owner'] }}">{{ p['owner'] }}</td>
      <td>{{ timeformat(p['posttime']) }}</td>
    </tr>
    {% end %}
  </tbody>
</table>
        
