{% extends 'base.html' %}

{% block content %}


<div class="container-fluid"> 

    <div class="row-fluid "> 
      <ul class="breadcrumb">

        <li>
        <a href="#">首页</a> <span class="divider">&raquo;</span>
        </li>
        <li>
        <a href="#">7 区 谈天说地</a> <span class="divider">&raquo;</span>
        </li>
        <li class="active"> Love 爱是我们的责任 </li>
      </ul>
    </div>

    <div class="row-fluid post-list-title">
      <div class="span1"> 
        <a href="#"><img  class="post-list-img" src="/static/images/guest4.jpeg"/></a>
      </div>
      <div class="span10">
        <blockquote>
          <p>
            <a href="#">男朋友生日，送什么好？</a>
            <span class="muted post-title-info"> - 20分钟前 by <a href="#">Catter</a></span>
            <span class="pull-right badge badge-important">51</span>
          </p>
        </blockquote>
      </div> 
    </div>

    <div class="row-fluid post-list-title">
       <div class="span1 "> 
        <a href="#"><img class="post-list-img" src="/static/images/guest2.jpeg"/></a>
      </div>
      <div class="span10">
        <blockquote>
          <p>
            <a href="#">感情为什么总是不顺</a>
            <span class="muted post-title-info"> - 2分钟前 by <a href="#">Selina</a></span>
            <span class="pull-right badge badge-success">31</span>
          </p>
        </blockquote>
      </div> 
     </div>



    <ul class="pager">
        <li><a href="#">上一页</a></li>
        <li><a href="#">下一页</a></li>
    </ul>


</div> 
{% end %}

