{% extends 'base.html' %}

{% block content %}


<div class="container-fluid"> 

    <div class="row-fluid "> 
      <ul class="breadcrumb">

        <li>
        <a href="#">首页</a> <span class="divider">&raquo;</span>
        </li>
        <li>
        <a href="#">7 区 谈天说地</a> <span class="divider">&raquo;</span>
        </li>
        <li class="active"> Love 爱是我们的责任 </li>
      </ul>
    </div>

    <div class="row-fluid post-list-title">
      <div class="span1"> 
        <a href="#"><img  class="post-list-img" src="/static/images/guest4.jpeg"/></a>
      </div>
      <div class="span10">
        <blockquote>
          <p>
            <a href="#">男朋友生日，送什么好？</a>
            <span class="muted post-title-info"> - 20分钟前 by <a href="#">Catter</a></span>
            <span class="pull-right badge badge-important">51</span>
            </p>
        </blockquote>
      </div> 
    </div>

    <div class="row-fluid post-list-title">
       <div class="span1 "> 
        <a href="#"><img class="post-list-img" src="/static/images/guest2.jpeg"/></a>
      </div>
      <div class="span10">
        <blockquote>
          <p>
            <a href="#">感情为什么总是不顺</a>
            <span class="muted post-title-info"> - 2分钟前 by <a href="#">Selina</a></span>
            <span class="pull-right badge badge-success">31</span>
          </p>
        </blockquote>
      </div> 
     </div>
     
     <div class="row-fluid post-list-title">
       <div class="span1 "> 
        <a href="#"><img class="post-list-img" src="/static/images/guest1.jpeg"/></a>
      </div>
      <div class="span10">
        <blockquote>
          <p>
            <a href="#">西瓜之恋</a>
            <span class="muted post-title-info"> - 2个小时前 by <a href="#">Icezhang</a></span>
            <span class="pull-right badge badge-info">22</span>
          </p>
        </blockquote>
      </div> 
     </div>

     
     <div class="row-fluid post-list-title">
       <div class="span1 "> 
        <a href="#"><img class="post-list-img" src="/static/images/guest3.jpeg"/></a>
      </div>
      <div class="span10">
        <blockquote>
          <p>
            <a href="#">今天一个女士对我说 恨不相逢未嫁时 我该怎么回应啊</a>
            <span class="muted post-title-info"> - 昨天12:44 by <a href="#">Lucas</a></span>
            <span class="pull-right badge ">9</span>
          </p>
        </blockquote>
      </div> 
     </div>

    <div class="row-fluid post-list-title">
       <div class="span1 "> 
        <a href="#"><img class="post-list-img" src="/static/images/guest2.jpeg"/></a>
      </div>
      <div class="span10">
        <blockquote>
          <p>
            <a href="#">我给我女友买的鞋子</a>
            <span class="muted post-title-info"> - 今天20:13 by <a href="#">January</a></span>
            <span class="pull-right badge badge-important ">82</span>
          </p>
        </blockquote>
      </div> 
     </div>




    <ul class="pager">
        <li><a href="#">上一页</a></li>
        <li><a href="#">下一页</a></li>
    </ul>


</div> 
{% end %}

