{% extends 'base.html' %}

{% block content %}

    <div class="container-fluid"> 
        <!-- carousel -->  
        <div id="myCarousel" class="carousel slide">
            <div class="carousel-inner">
                <div class="item">
                    <img src="static/images/cat1.jpeg" alt="">
                    <div class="carousel-caption">
                        <h4>史上最强猫册(1)</h4>
                        <p>cat 1</p>
                    </div>
                </div>
                <div class="item">
                    <img src="static/images/cat2.jpeg" alt="">
                    <div class="carousel-caption">
                        <h4>史上最强猫册(2)</h4>
                        <p>cat2</p>
                    </div>
                </div>
                <div class="item active">
                    <a href="http://www.douban.com/photos/photo/1404579676/#image"><img src="static/images/cat3.jpeg" alt=""></a>
                    <div class="carousel-caption">
                        <h4>史上最强猫册(3)</h4>
                        <p>cat3</p>
                    </div>
                </div>
            </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
            <a class="right carousel-control" href="#myCarousel"
                data-slide="next">›</a>
        </div>
        <!-- end carousel -->
    </div>
    
    <!-- start container-fluid -->
    <div class="container-fluid"> 
        <div class="row-fluid"> 
            <div class="span9">
                
                <section>
                <h3>今日十大</h3><hr/>
                        <div class="row-fluid">
                            <div class="span2">
                                <img src="static/images/guest1.jpeg"/>
                                <p>guest1</p>
                            </div>
                            <div class="span4">
                                <blockquote class="pull-right">
                                    <p><a href="#">史上最强猫册</a></p>
                                    <small>1分钟前  来自<a href="#">Joke</a></small>
                                </blockquote>                        
                            </div>

                            <div class="span2">
                                <img src="static/images/guest2.jpeg"/>
                                <p>guest1</p>
                            </div>
                            <div class="span4">
                                <blockquote class="pull-right">
                                    <p><a href="#">[转载] 爆头哥已经被重重包围</a></p>
                                    <small>1分钟前  来自<a href="#">Joke</a></small>
                                </blockquote>                        
                            </div>
                        </div>
                
                        <div class="row-fluid">
                            <div class="span2">
                                <img src="static/images/guest3.jpeg"/>
                                <p>guest1</p>
                            </div>
                            <div class="span4">
                                <blockquote class="pull-right">
                                    <p><a href="#">中国好声音 台湾盲女 唱邓丽君的歌 感动全场</a></p>
                                    <small>1分钟前  来自<a href="#">Pop</a></small>
                                </blockquote>                        
                            </div>

                            <div class="span2">
                                <img src="static/images/guest4.jpeg"/>
                                <p>guest1</p>
                            </div>
                            <div class="span4">
                                <blockquote class="pull-right">
                                    <p><a href="#">有没同学想打乒乓球的呀？</a></p>
                                    <small>1分钟前  来自<a href="#">Pingpong</a></small>
                                </blockquote>                        
                            </div>
                        </div>


                    </section> 
                <!-- end section -->
                
                <hr/>
                <section>
                    <h3>逸仙活动</h3><hr/>
                    <div class="row-fluid">
                            <div class="span2">
                                <img src="static/images/guest2.jpeg"/>
                                <p>guest1</p>
                            </div>
                            <div class="span4">
                                <blockquote class="pull-right">
                                    <p><a href="#">Love版版聚</a></p>
                                    <small>2分钟前  来自<a href="#">Love</a></small>
                                </blockquote>                        
                            </div>

                            <div class="span2">
                                <img src="static/images/guest1.jpeg"/>
                                <p>guest1</p>
                            </div>
                            <div class="span4">
                                <blockquote class="pull-right">
                                    <p><a href="#">晒出你最喜欢的照片</a></p>

                                    <small>1小时前  来自<a href="#">Wish</a></small>
                                </blockquote>                        
                            </div>
                        </div>
                </section> 

                <hr/>
                <section>
                    <h3>文章推荐</h3><hr/>
                    <div class="row-fluid"> 
                        <div class="span2">
                            <img src="static/images/guest4.jpeg"/>
                            <p>guest1</p>
                        </div>
                        <div class="span9">
                            <blockquote><p><a href="#">地铁与公交车</a></p></blockquote> 
                            <small> <p> 不知是不是受了小时候的影响，对公交车有种莫名的依赖。以至于每到一个城市， 都要坐在这个移动座椅上来看看城市的样子...</p>
                            </small>
                            
                            <p class="pull-right">来自 <a href="#">valen</a></p>
                        </div>

                    </div>
                
                    <div class="row-fluid"> 
                        <div class="span2">
                            <img src="static/images/guest2.jpeg"/>
                            <p>guest1</p>
                        </div>
                        <div class="span9">
                            <blockquote><p><a href="#">中大回忆录康乐情深之第八部：歌未央（终篇兼后记）</a></p></blockquote> 
                            <small> <p>
任何一部戏或者一本书，甚至所谓回忆都有到结束的时候，就像是毕业典礼一样，每个人 穿戴整齐参加典礼，向过去告别，向未来进发...
                                </p>
                            </small>
                            <p class="pull-right">来自 <a href="#">xuebo</a></p>
                            
                        </div>

                    </div>


                </section> 

            </div>

            <div class="span3">
                <section>
                <h3>推荐版面</h3>
                <hr/>
                <div class="well sidebar-nav">
                    <ul class="nav nav-list">
                        <li><a href="#">程序设计竞赛</a></li>
                        <li><a href="#">BBS使用求助</a></li>
                        <li><a href="#">Coolest Unix</a></li>
                        <li><a href="#">逸仙书路</a></li>
                        <li><a href="#">星座物语</a></li>
                    </ul>
                </div>
                </section>
                
                <section>
                <h3>好友推荐</h3>
                <hr/>
                <div class="well sidebar-nav">
                    <ul class="nav nav-list">
                        <li><a href="#">Guest2 (3位共同好友)</a></li>
                        <li><a href="#">Geust3 (5个相似标签)</a></li>
                        <li><a href="#">more...</a></li>
                    </ul>
                </div>
                </section>

            </div>
        </div>
    </div> 
    <!-- container-fluid -->


{% end %}
