{% extends 'base.html' %}

{% block content %}


<div class="container-fluid"> 

    <div class="row-fluid "> 
    <ul class="breadcrumb">
        
        <li>
        <a href="#">首页</a> <span class="divider">&raquo;</span>
        </li>
        <li>
        <a href="#">7 区 谈天说地</a> <span class="divider">&raquo;</span>
        </li>
        <li >
        <a href="#">Love 爱是我们的责任</a><span class="divider">&raquo;</span> 
        </li>
        <li class="active">这样的感情能坚持下去吗？</li>
    </ul>
    </div>

    <div class="row-fluid "> 
        <div class="span1">
                <a href="#"><img class="argo-img" src="/static/images/guest2.jpeg"/></a>
        </div>
        <div class="span9">
            <p><a href="#">zhezhi (酱油)</a> <small class="muted"> -昨天12:36</small>
            </p>
            <div class="well well-small"> 他性格稳重，少言寡语，是吸引我的地方。
                同时，也是这点，一生气就不说话，我生气了也不过来哄我。
            
                他生气的时候，最经常使用的方法就是打游戏，一盘接着一盘。
                我在旁边，觉得受不了。
            
                这段感情，恐怕坚持不了多久
                我怕如果现在发现不合适，勉强坚持到结婚了，还是会离婚的吧
            
                各位前辈，能给我指点迷津吗？
            </div>
            <small class="pull-right"><a href="#">查看对话</a> | <a href="#">回复</a></small>
            <!-- <div class="row-fluid">
              <form id="reply-form-{pid}" >
                <textarea rows="1" cols="20">回复@zhezhi：</textarea>
                <button type"submit" class="btn btn-mini">回复</button>
              </form>
            </div> 
            -->
        </div>

            <span class="badge">楼主</span> 
    </div> 


    <hr/>
    <div class="row-fluid "> 
        <div class="span1">
            <a href="#"><img  class="argo-img" src="/static/images/guest4.jpeg"/></a>
        </div>
        <div class="span9">
            <p><a href="#">Catter (卡特)</a> <small class="muted"> -30分钟前</small></p>
            <div class="well well-small"> 找个口花一点的男生吧 </div>
        </div>
        
            <span class="badge">沙发</span> 

    </div> 

    <hr/>
    <div class="row-fluid"> 
        <div class="span1">
            <a href="#"><img  class="argo-img" src="/static/images/guest3.jpeg"/></a>
        </div>
        <div class="span9">
          <p><a href="#">Sammy (神秘踪迹)</a> <small class="muted"> -20分钟前 </small> </p>
            <div class="well well-small"> 難道生氣的時候，不說話不是好事？非要破口大罵不成啊。。
                當然，生氣不是一個好習慣；惹別人生氣也不是好習慣
            
            我認為一般情況下，男生生氣是因為對方不講道理；女生生氣，沒道理可講</div>
        </div>
            <span class="badge">板凳</span> 

    </div> 

    <hr/>
    <div class="row-fluid"> 
        <div class="span1">
            <a href="#"><img  class="argo-img" src="/static/images/guest1.jpeg"/></a>
        </div>
        <div class="span9">
            <p><a href="#">luckybird (背单词)</a> <small class="muted"> -30秒前</small></p>
            <div class="well well-small"> 我希望生气的时候，双方能够好好的讲清楚误会，不是破口大骂，也不是不说话
            
            好好沟通，把问题解决，才能继续生活，不是吗</div>
        </div>
            <span class="badge">4楼</span> 

    </div> 

    <ul class="pager">
        <li><a href="#">上一页</a></li>
        <li><a href="#">下一页</a></li>
    </ul>


</div> 
{% end %}

