<!DOCTYPE html>
<html >
  <head>
    <meta charset="utf-8">
    <title>逸仙时空 Yat-sen Channel</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/argo.css" rel="stylesheet">
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
	<script src="/static/js/lib/jquery.js"></script>
	<script src="/static/js/lib/bootstrap.js"></script>
	<script src="/static/js/argo.js"></script>
    {% block scripthead %}{% end %}
  </head>
  <body>
    {% include "nav.html" %}
    <div id="container" class="content-wrapper container">
      <div class="row">
        <div class="span2">
          {% block leftsidebar %}
          {% include "leftsidebar.html" %}
          {% end %}
        </div>
        <div class="span10">
          {% block pagehead %}{% end %}
          {% block content %}
          <div class="row">
            <div class="span8">
              {% block main %}{% end %}
            </div>
            <div class="span2">
              {% block rightsidebar %}{% end %}
            </div>
          </div>
          {% end %}
        </div>
      </div>
    </div>
    <footer id="footer">
      <div id="footer-content">
        <p>&copy Life is originally a tragedy.</p>
      </div>
    </footer>
    {% block script %}{% end %}
  </body>
</html>
