       <div id="navbar" class="navbar navbar-static-top">  
            <div class="navbar-inner">
                <div class="container ">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="/">逸仙时空 Yat-sen Channel</a>
                    <div class="nav-collapse">
                        <ul class="nav">
                            <li><a href="/">首页</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">讨论区<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">0区bbs 系统</a></li>
                                    <li><a href="#">1区校园资讯</a></li>
                                    <li><a href="#">2区谈天说爱</a></li>
                                    <li><a href="#">3区社会信息</a></li>
                                </ul>
                             </li> 
                             <li><a>more...</a></li>
                        </ul>
                    </div>
                </div>
            </div>
         </div>
