{% extends 'm_base.html' %}
{% block script %}
<script type="text/javascript">
  var m_board = '{{ board.boardname}}';
  var m_entry_index_list = [{% for t in plist %}'{{t.pid}}', {% end %}];
  var m_entry_file_list = [{% for t in plist %}'{{t.pid}}', {% end %}];
  var m_entry_id_list = [{% for t in plist %}'{{t.tid}}', {% end %}];
  var m_entry_read_list = [{% for t in plist %} {{t.unread}}, {% end %}];
  page_init_code = 'init_listpost();';
</script>
{% end %}
{% block content %}
<section id="listpost">
  <div id="new-post">
    <span id="post-nav-board" onclick="m_switch_board(this, '{{board.sid}}');">
      {{ board.sid }}区 &raquo;  {{ board.description }} 版
    </span>
    <a id="write-post" href="/m/{{board.boardname }}/post/">写新文章</a>
    <div class="clear"></div>
    <div id="sec-popup"></div>
  </div>
  <div class="pagectrl">
    {% if prev %}
    <a href="/m/{{board.boardname}}/1/" class="prev">&lt;&lt;</a>
    <a href="/m/{{board.boardname}}/{{prev}}/" class="prev" id="prev-link">   上一页 </a>
    {% else %}
    <span class="prev">&lt;&lt;</span>
    <span class="prev">   上一页 </span>
    {% end %}
    {% if next %}
    <a href="/m/{{board.boardname}}/" class="next">&gt;&gt;</a>
    <a href="/m/{{board.boardname}}/{{next}}/" class="next" id="next-link">下一页   </a>
    {% else %}
    <span class="next">&gt;&gt;</span>
    <span class="next">下一页   </span>
    {% end %}
  </div>
  <div id="post-entries">
    {% for post in plist %}
    <div id="entry-row-{{post.pid}}" class="entry-row entry-row-collapse" >
      <div class="entry-container">
	<div class="entry-top-bar">
	  <span class="entry-collapse" onclick="m_collapse_post('{{post.pid}}');">
	    <span class="entry-collapse-icon"></span>
	    <span class="entry-collapse-text">收起</span>
	  </span>
	  <span class="entry-next" onclick="m_expand_next('{{post.pid}}');">
	    <span class="entry-next-icon"></span>
	    <span class="entry-next-text">下一篇</span>
	  </span>
	  <span class="entry-prev" onclick="m_expand_prev('{{post.pid}}');">
	    <span class="entry-prev-icon"></span>
	    <span class="entry-prev-text">上一篇</span>
	  </span>
	  <span class="entry-subject" onclick="javascript:window.location='/m/{{board.boardname}}/{{post.pid}}';">
	    <span class="entry-subject-icon"></span>
	    <span class="entry-subject-text">本主题</span>
	  </span>
	</div>
	<div class="entry-header" onclick="m_expand_post('{{post.pid}}', '{{board.boardname}}', '{{post.pid}}');">
	  <div class="entry-icon">
	  </div>
	  <div class="entry-header-body">
	    <div id="entry-title-{{post.pid}}" class="entry-title">
	      {{ post.title }}
	    </div>
	    <div class="entry-owner">
	      - {{ post.owner }}, {{ post.posttime}}
	    </div>
	  </div>
	</div>
	<div id="entry-content-{{post.pid}}" class="entry-content entry-no-content"></div>
	<div class="entry-footer">
	  <span id="entry-info-{{post.pid}}" class="entry-info">
      </span>
      <!-- if not noreply -->
	  <span class="entry-reply" onclick="m_toggle_reply('{{post.index}}');">
	    <span class="entry-reply-icon"></span>
	    <span id="entry-reply-text-{{post.pid}}" class="entry-reply-text">回复此文</span>
    </span>
    <!-- endif -->

	</div>
	<div id="entry-custom-{{post.pid}}" class="entry-custom"></div>
	<div class="clear"> </div>
      </div>
    </div>
    {% end %}
  </div>
  <div class="pagectrl">
    {% if prev %}
    <a href="/m/{{board.boardname}}/1/" class="prev">&lt;&lt;</a>
    <a href="/m/{{board.boardname}}/{{prev}}/" class="prev">   上一页 </a>
    {% else %}
    <span class="prev">&lt;&lt;</span>
    <span class="prev">   上一页 </span>
    {% end %}
    {% if next %}
    <a href="/m/{{board.boardname}}/" class="next">&gt;&gt;</a>
    <a href="/m/{{board.boardname}}/{{next}}/" class="next">下一页   </a>
    {% else %}
    <span class="next">&gt;&gt;</span>
    <span class="next">下一页   </span>
    {% end %}
  </div>
</section>
{% end %}

