{% extends 'm_base.html' %}
{% block content %}
<section id="listmail">
  <div id="compose-mail">
    <a href="/m/mail/send/">写新信件</a>
    <div class="clear"></div>
  </div>
  <div id="mail-container">
    {% for m in mlist %}
    <div id="mail-entry-{{m.mid}}" class="mail-entry-collapse{% if m.readmark == 0 %} mail-new{% end %}">
      <div class="mail-header" onclick="m_toggle_mail('{{ m.mid }}');">
	<div class="mail-title">
	  {{ m.title }} {% if m.readmark == 3 %}&crarr;{% end %}
	</div>
	<div class="mail-owner">
	  - {{ m.fromuserid }}, {{ m.sendtime }}
	</div>
      </div>
      <div id="mail-content-{{m.mid}}" class="mail-content clear"></div>
      <div id="mail-footer-{{m.mid}}" class="mail-footer">
	<a href="/m/mail/send/{{m.mid}}">回复信件</a>
      </div>
      <div class="clear"></div>
    </div>
    {% end %}
  </div>
  <div class="pagectrl">
    {% if prev %}
    <a href="/m/mail/{{prev}}/" class="prev">   上一页 </a>
    {% end %}
    {% if next %}
    <a href="/m/mail/{{next}}/" class="next">下一页   </a>
    {% end %}
  </div>
</section>
{% end %}
