{% extends 'm_base.html' %}
{% block content %}
<section id="newpost">
  <div id="post_top">
    在 {{ board.filename }} 发表新文章
  </div>
  <form method="POST" id="post_form" action="">
    <div class="newpost_row">
      <label>标题:</label>
      <br />
      <input id="input_title" type="text" name="title" value="" />
    </div>
    <div class="newpost_row">
      <label>内容:</label>
      <br />
      <textarea id="input_content" name="content" rows="8" cols="80"></textarea>
    </div>
    <div class="newpost_row">
      <input class="button" type="submit" value="发表" />
      <a href="javascript:history.go(-1);">取消</a>
    </div>
  </form>
</section>
{% endblock %}
