{% extends 'm_base.html' %}
{% block script %}
<script type="text/javascript">
  var m_board = '{{board.boardname}}';
  var m_files = [{% for p in plist %}'{{ p.pid }}', {% end %}];
  page_init_code = 'init_subject_read();';
</script>
{% end %}
{% block content %}
<session id="content">
  <div id="new-post">
    <span id="post-nav-board" onclick="javascript:window.location='/m/{{board.boardname}}';">
      正在浏览 {{ board.boardname}} 版
    </span>
    <a id="write-post" href="/m/{{board.boardname}}/post/">写新文章</a>
    <div class="clear"></div>
    <div id="sec-popup"></div>
  </div>
  <div id="content-div">
  </div>
  <div id="subject-more" onclick="javascript:subject_more();"></div>
</session>
{% end %}
