{% extends 'm_base.html' %}
{% block content %}
<section id="send-mail">
  <div class="form-container">
      <form method="POST" id="mail-form" action="/m/mail/">
            {% module xsrf_form_html()  %}
      <div>
	<label>标题:</label>
	<br />
	<input type="text" name="title" value="{{mail['title']}}" />
      </div>
      <div>
	<label>收件人:</label>
	<br />
    <input type="text" name="touserid" value="{{mail['touserid']}}" />
      </div>
      <div>
	<label>正文:</label>
	<br />
    <textarea name="content" rows="6">
        {{ '\n' + mail['quote']}}</textarea>
      </div>
      <div>
	<input type="hidden" name="replyid" value="{{mail['replyid']}}" />
	<input class="button" type="submit" value="发送" />
	<a href="javascript:history.go(-1);">取消</a>
      </div>
    </form>
  </div>
</section>
{% end %}
