body{
}

#navbar{
}

#container{
    padding-top:30px;
    padding-bottom:30px;
}

.cell{
    position:relative;
    margin-top:1em;
    margin-bottom:2.5em;
}

.cell>h4{
    border-bottom:1px dashed #c0c0c0;
    font-size:1em;
    line-height:2.44em;
    color:black;
}

.cell-put{
    /* border-bottom:1px dashed #c0c0c0; */
}

.cell-inside{
    border-bottom:1px dashed #e6e6e6;
    border-top:1px dashed #e6e6e6;
}

.cell-inset{
    background:#eee;
    border:1px solid #e0e0e0;
    border-radius:5px;
}

.cell-outset{
    background:#f0f0f0;
    box-shadow:0 0 3px 1px #eee;
    border:1px solid #e0e0e0;
    border-radius:5px;
}

.cell-content{
    margin:1em;
}

.underline{
    text-decoration:underline;
}

div.center{
    text-align:center;
}

#login-box input{
    width:81%;
}

.boardset{
    list-style-type:none;
    margin-left:1em;
}

.is_new{
    font-weight:bold;
}

.userbox{
    margin-top:10px;
    border-top:1px solid #e0e0e0;
    border-bottom:1px solid #eee;
    border:2px solid #f4f4f4;
    border-radius:5px;
    /* width:100%; */
    /* background:#ececec; */
}

.fixed{
    position:fixed;
}

.userbox-nav{
}

.userbox-profile{
    position:relative;
}

.userbox-profile>img{
    box-shadow:0 0 3px #aaa;
    position:absolute;
    left:1em;
    top:1.382em;
}

.userbox-userid{
    min-height:72px;
    margin-left:72px;
    line-height:72px;
}

#index-carousel{
    position:relative;
}

#index-carousel img{
    width:100%;
    height:auto;
    border-radius:5px;
}

.board-nav-group{
    position:relative;
    border-bottom:1px dashed #eee;
    margin-top:1em;
}

.board-nav-label{
    width:72px;
    position:absolute;
    text-align:center;
}

.board-nav-item{
    position:relative;
    display:block;
    margin-left:72px;
    list-style-type:none;
    clear:both;
}

.board-nav-item li{
    display:inline-block;
    margin-left:1em;
}

.board-nav-item li a{
}

#footer{
    background:#2b2b2b;
    width:100%;
    color:white;
}

#footer-content{
    padding:3em;
}

#board-head-intro{
    position:absolute;
    color:white;
    left:2em;
    bottom:3em;
}

#board-head-bookbtn{
    position:absolute;
    right:2em;
    top:2em;
}

.userset li{
    position:relative;
}

.userset li img{
    position:absolute;
    width:40px;
    height:40px;
}

.userset li div{
    margin-left:50px;
    min-height:50px;
}

.gmark:after{
    background:#04aef4;
    content:"g";
    font-size:.618em;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    color:white;
    padding: 1px 9px 2px;
}

.mmark:after{
    background:#d83a2e;
    content:"m";
    font-size:.618em;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    color:white;
    padding: 1px 9px 2px;
}    

.read .gmark:after,
.read .mmark:after{
    background:#ccc;
}

#main{
    padding:0 1em;
    border:2px solid #eee;
    box-shadow:0 0 5px #eee;;
    border-radius:5px;
}

.post-wrapper{
    /* border-radius:5px; */
    padding:0;
    margin:auto 0 2em 0;
    border-bottom:2px dashed #e0e0e0;
}

.post-head{
    position:relative;
    padding:.527em 2em;
    border:1px dashed #ccc;
    border-radius:4px;
    margin:0;
}

.post-head>img{
    position:absolute;
    width:40px;
    height:40px;
    right:1em;
    top:1em;
}

.post-info>div>span{
    margin-right:0.618em;
}

.post-info h2{
    font-size:1em;
    line-height:2em;
    padding:0;
    margin:0;
}

.post-content{
    padding:2em;
    min-height:81px;
    font-family:monospace;
}

.time{
    color:#bbb;
    margin-left:.618em;
}

.post-nav{
    font-size:.78em;
    margin:1em;
    text-align:right;
}

.post-nav>a{
    margin-right:.5em;
}

.post-meta{
    text-align:right;
    padding:.345em 1em;
}

.notifies{
    list-style-type:circle;
}

.new-notify{
    list-style-type:disc;
}

.read,
.read a{
    color:grey;
}